<form [formGroup]="form" (submit)="submit()">
  <div class="mb-3">
    <label>First Name</label>
    <input
      formControlName="first_name"
      class="form-control"
      name="first_name"
    />
  </div>
  <div class="mb-3">
    <label>Last Name</label>
    <input formControlName="last_name" class="form-control" name="last_name" />
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input formControlName="email" class="form-control" name="email" />
  </div>
  <div class="mb-3">
    <label>Role</label>
    <select formControlName="role_id" name="role_id" class="form_control">
      <option *ngFor="let role of roles" [ngValue]="role.id">
        {{ role.name }}
      </option>
    </select>
  </div>

  <button class="btn btn-outline-secondary">Save</button>
</form>
